<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
   <section name="Inflectra.SpiraTest.IDEIntegration.VisualStudio2012.Business.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <system.serviceModel>
		<bindings>
   <basicHttpBinding>
    <binding name="BasicHttpBinding_ISoapService" sendTimeout="00:05:00" allowCookies="true" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />
    <binding name="BasicHttpBinding_ISoapService1">
     <security mode="Transport" />
    </binding>
   </basicHttpBinding>
  </bindings>
		<client>
   <endpoint address="http://localhost/Spira/Services/v5_0/SoapService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISoapService" contract="SpiraTeam_Client.ISoapService" name="BasicHttpBinding_ISoapService" />
   <endpoint address="https://tardis.corp.inflectra.com/Spira/Services/v5_0/SoapService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISoapService1" contract="SpiraTeam_Client.ISoapService" name="BasicHttpBinding_ISoapService1" />
  </client>
	</system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" /></startup><applicationSettings>
  <Inflectra.SpiraTest.IDEIntegration.VisualStudio2012.Business.Properties.Settings>
   <setting name="app_ServiceURI" serializeAs="String">
    <value>/Services/v5_0/SoapService.svc</value>
   </setting>
  </Inflectra.SpiraTest.IDEIntegration.VisualStudio2012.Business.Properties.Settings>
 </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.Threading" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.6.0.0" newVersion="15.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
